.section-hero {
  position: relative;
}

.hero__loader {
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  animation: heroLoader 2s infinite;
}
@keyframes heroLoader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(3);
    opacity: 0;
  }
  99% {
    transform: scale(1);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.hero__text {
  padding: 72px 0;
  font-size: 0;
  text-align: right;
}
.page-loader__content .hero__text {
  display: none;
}
.hero__text-word {
  display: block;
  line-height: 1;
  color: #000;
  font-size: 100px;
  font-weight: bold;
  // ローディングアニメーション用
  &.is-loader {
    & > span {
      display: inline-block;
      min-width: 28px; // 空白のスペース確保のため
      text-align: center;
      color: #888;
      perspective: 1000px;
      transform-style: preserve-3d;
      opacity: 0;
      transform: rotateY(-180deg);
    }
  }
}

.hero__bg {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000;
  overflow: hidden;
  z-index: -1;
  perspective: 1000px;
}
.hero__bg-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: no-repeat center center;
  background-size: cover;
  transform-origin: left center;
  transform-style: preserve-3d;
  &:nth-child(1) {background-image: url(https://picsum.photos/id/603/800/500);}
  &:nth-child(2) {background-image: url(https://picsum.photos/id/604/800/500);}
  &:nth-child(3) {background-image: url(https://picsum.photos/id/605/800/500);}
  &.is-active {
    z-index: 2;
    transform-origin: right center;
  }
}
