<%
const services = [
  {
    title: 'グラフィックデザイン',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    icon: 'fas fa-bezier-curve',
  },
  {
    title: 'Webデザイン',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    icon: 'fas fa-laptop',
  },
  {
    title: 'UI/UXデザイン',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    icon: 'fas fa-sitemap',
  },
  {
    title: 'フロンドエンド',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    icon: 'fas fa-code',
  },
  {
    title: 'SEO調査',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    icon: 'fas fa-chart-line',
  },
  {
    title: 'デジタルマーケティング',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    icon: 'fas fa-bullhorn',
  },
];
-%>
<section class="has-background-white-bis" id="section-services">
  <div class="container">
    <div class="section">
      <p class="subtitle has-text-centered">Services</p>
      <h2 class="title has-text-centered">対応サービス</h2>
<%- include('../../component/services', {services}); -%>
    </div>
  </div>
</section>
