<%
const voices = [
  {
    name: '苗字 名前01',
    position: '企業名 役職名',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/128x128.png'
  },
  {
    name: '苗字 名前02',
    position: '企業名 役職名',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/128x128.png'
  },
  {
    name: '苗字 名前03',
    position: '企業名 役職名',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/128x128.png'
  },
  {
    name: '苗字 名前04',
    position: '企業名 役職名',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/128x128.png'
  },
  {
    name: '苗字 名前05',
    position: '企業名 役職名',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/128x128.png'
  },
];
-%>
<section id="section-voices">
  <div class="container">
    <div class="section">
      <p class="subtitle has-text-centered">Voices</p>
      <h2 class="title has-text-centered">お客様の声</h2>
<%- include('../../component/voices', {voices}); -%>
    </div>
  </div>
</section>
