<%
const history = [
  {
    job: '職種01',
    company: '企業名01',
    term: '2015/00 - 2016/00',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
  },
  {
    job: '職種02',
    company: '企業名02',
    term: '2016/00 - 2018/00',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
  },
  {
    job: '職種03',
    company: '企業名03',
    term: '2018/00 - 2020/00',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
  },
];
-%>
<section class="has-background-white-bis" id="section-experience">
  <div class="container">
    <div class="section">
      <p class="subtitle has-text-centered">Experience</p>
      <h2 class="title has-text-centered">職務経歴</h2>
<%- include('../../component/history', {history}); -%>
    </div>
  </div>
</section>
