<%
const countUpList = [
  {
    title: 'プロジェクト',
    number: '123',
    unit: '件以上',
  },
  {
    title: '顧客満足度',
    number: '70',
    unit: '％',
  },
  {
    title: '現在のプロジェクト',
    number: '15',
    unit: '件',
  },
  {
    title: '経験年数',
    number: '5',
    unit: '年',
  },
];
-%>
<section>
  <div class="container">
    <div class="section">
<%- include('../../component/count-up', {countUpList}); -%>
    </div>
  </div>
</section>
