<%
const imageList = [
  {
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'Placeholder image1'
  },
  {
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'Placeholder image2'
  },
  {
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'Placeholder image3'
  },
];
-%>
<section id="section-about">
  <div class="container">
    <div class="section">
      <div class="columns">
        <div class="column is-half tablet-column">
<%- include('../../component/cycle-image', {imageList}); -%>
        </div>
        <div class="column content is-half">
          <p class="subtitle">About</p>
          <h2 class="title">○○について</h2>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
    </div>
  </div>
</section>
