<section class="section-feature">
  <div class="container">
    <div class="feature__item columns is-vcentered">
      <div class="column is-half">
        <div class="feature__img-wrapper">
          <div class="feature__img">
            <img src="https://picsum.photos/id/600/500/600" alt="" width="500" height="600">
          </div>
          <div>
            <div class="feature__deco--md is-pos-02"></div>
            <div class="feature__deco--lg is-pos-03"></div>
            <div class="feature__deco--sm is-pos-01"></div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="feature__content">
          <h2 class="feature__heading">01 見出しが入ります</h2>
          <p class="feature__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <p class="feature__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
      <div class="feature__bg">HEADING01</div>
    </div>
    <div class="feature__item columns is-vcentered">
      <div class="column is-half">
        <div class="feature__img-wrapper">
          <div class="feature__img">
            <img src="https://picsum.photos/id/602/500/600" alt="" width="500" height="600">
          </div>
          <div>
            <div class="feature__deco--md is-pos-03"></div>
            <div class="feature__deco--lg is-pos-01"></div>
            <div class="feature__deco--sm is-pos-04"></div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="feature__content">
          <h2 class="feature__heading">02 見出しが入ります</h2>
          <p class="feature__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <p class="feature__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
      <div class="feature__bg feature__bg--left">HEADING02</div>
    </div>
    <div class="feature__item columns is-vcentered">
      <div class="column is-half">
        <div class="feature__img-wrapper">
          <div class="feature__img">
            <img src="https://picsum.photos/id/603/500/600" alt="" width="500" height="600">
          </div>
          <div>
            <div class="feature__deco--md is-pos-05"></div>
            <div class="feature__deco--lg is-pos-06"></div>
            <div class="feature__deco--sm is-pos-03"></div>
          </div>
        </div>
      </div>
      <div class="column is-half">
        <div class="feature__content">
          <h2 class="feature__heading">03 見出しが入ります</h2>
          <p class="feature__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          <p class="feature__txt">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>
      <div class="feature__bg">HEADING03</div>
    </div>
  </div>
</section>
