<section class="section-gallery">
  <div class="container">
    <ul class="columns is-multiline">
      <li class="column is-one-quarter">1</li>
      <li class="column is-one-quarter">2</li>
      <li class="column is-one-quarter">3</li>
      <li class="column is-one-quarter">4</li>
    </ul>
  </div>
</section>
