<section class="section-hero">
  <div class="container">
    <div class="hero__text">
      <span class="hero__text-word">THIS IS</span>
      <span class="hero__text-word">BEAUTIFUL</span>
      <span class="hero__text-word">TITLE</span>
    </div>
  </div>
  <div class="hero__bg">
    <div class="hero__bg-item is-active"></div>
    <div class="hero__bg-item"></div>
    <div class="hero__bg-item"></div>
  </div>
</section>
